body{
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
}

#sidebar {
    height: 50%;
    /*margin-top: 10%;*/
}

.filters{
    background-color: #fff;
    color: black;
    width: 25vh;
    padding: 5px;
}

.filters h5{
    font-size: 1.5vh;
    margin: 0;
}

.filters p{
    font-size: 1vh;
}
