@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?i8wyec');
	src:url('icomoon.eot?#iefixi8wyec') format('embedded-opentype'),
		url('icomoon.woff?i8wyec') format('woff'),
		url('icomoon.ttf?i8wyec') format('truetype'),
		url('icomoon.svg?i8wyec#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-legend_car:before {
	content: "\e600";
}
.icon-legend_crime:before {
	content: "\e601";
}
.icon-legend_cta:before {
	content: "\e602";
}
.icon-legend_divvy:before {
	content: "\e603";
}
.icon-legend_food_inspection:before {
	content: "\e604";
}
.icon-legend_light:before {
	content: "\e605";
}
.icon-legend_pothole:before {
	content: "\e606";
}
.icon-legend_wikipedia:before {
	content: "\e607";
}
